# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

subjects*
FInfos/

.vscode/

afl-analyze
afl-as
afl-clang
afl-clang++
afl-clang-fast
afl-clang-fast++
afl-clang-fast++.8
afl-clang-fast.8
afl-clang-lto
afl-clang-lto++
afl-clang-lto.8
afl-fuzz
afl-g++
afl-g++-fast
afl-g++-fast.8
afl-gcc
afl-gcc-fast
afl-gcc-fast.8
afl-ld-lto
afl-showmap
afl-tmin
as
afl-clang-lto++.8
afl-gotcpu
afl-c++
afl-c++.8
afl-cc
afl-cc.8
afl-lto
afl-lto++
afl-lto++.8
afl-lto.8

afl-showcmp

*.swp

out_*
